<% if current_user == @user %>
<%= link_to "Create Post", new_user_post_path(@user), class: 'button' %>
<% end %>
<div class="users-container">
  <div class="user-card">
    <div class="user-photo">
      <% if @user.photo.attached? %>
        <%= image_tag @user.photo, alt: "#{ @user.name }'s photo" %>
      <% else %>
        <%= image_tag 'default_image.png', alt: 'Default Photo' %> 
      <% end %>
    </div>
    <div class="user-details">
      <%= link_to @user.name, user_path(@user) %>
      <p>Number of posts: <%= @user.posts.count %></p> <!-- Change to count since you want the total count -->
    </div>
  </div>
</div>

<div class="user-posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h3><%= link_to post.title, user_post_path(post.author, post) %></h3> <!-- Corrected path to post.author -->
      <p><%= post.text %></p>
      <div class="cmt-like">
        <span>Comments: <%= post.comments_counter %></span>
        <span>Likes: <%= post.likes_counter %></span>
      </div>

      <div class="user-comments">
        <div class="comments">
          <% if post.comments.any? %>
            <% post.five_most_recent_comments.each do |comment| %>
              <div class="comment">
                <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
              </div>
            <% end %>
          <% else %>
            <p>No comments yet!</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="pagination-button">
    <%= will_paginate @posts %>
  </div>
</div>
